body{
    font-family: 'Volkhov', serif;
}

.container{
    padding:4vw;
}

#center-img{
    border-radius:50%;
    display: block;
    text-align: center;
    width: 50%;
    z-index: 100;
    min-width:79px;
    max-width: 300px;
}

#center-img:hover{
    position: relative;
    top: -5px;
    box-shadow: 0 0 0 4px #f2f2f2;
}

#header{
    margin-left:2vw;
    padding:2vw;
}

a.navs{
    margin-top:2vw;
}

.txt-rotate{
    color:#ab4a3b;
}

/*h3{*/
/*    background-color:#f2f2f2;*/
/*}*/

#find-me, .row-1{
    background-color: #fbe4e4;
}

#what-im-doing, .row-2{
    background-color: #faebdd;
}

#what-i\'ve-done, .row-3{
    background-color: #fbf3db;
}

#what\'s-next{
    background-color: #d4e8e1;
}

#fun-facts{
    background-color: #ddecf1;
}

h1, h2, h3 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, Arial, sans-serif;
}

a{
    color:#31817d;
    text-decoration: none;
}

a:hover{
    color:#31817d;
    text-decoration: underline !important;
}

/*a:visited{*/
/*    !*color:#31817d;*!*/
/*    text-decoration:underline !important;*/
/*}*/


.blinking-cursor {
    font-weight: 100;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink  {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-ms-keyframes blink{
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-o-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

